.number {
    text-align: end;
    background-color: antiquewhite;
}
th {
    background-color: aquamarine;
    color: crimson;
}
button {
    background-color: red;
    color: antiquewhite;
}

.fadeInImage {
    text-align: center;
    animation: fadeIn 5s;
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#deathButton {
    text-align: center;
    visibility: hidden;
}

body {
    display: grid;
}

.statPage{
    grid-area: 1/1;
}

.inventoryPage{
    grid-area: 1/2;
}